version: "3.8"
services:
  mongo:
    image: mongo:6
    container_name: dm_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  app:
    build: .
    image: devoteematch-java:latest
    depends_on:
      - mongo
      - redis
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/devotee_db
      - SPRING_REDIS_HOST=redis

  nginx:
    image: nginx:stable
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

volumes:
  mongo_data:
