server:
  port: 8080

spring:
  data:
    mongodb:
      uri: mongodb://mongo:27017/devotee_db
  redis:
    host: redis
    port: 6379
  main:
    allow-bean-definition-overriding: true

logging:
  level:
    root: INFO
    com.devoteematch: DEBUG
